# Зависимости (самая тяжелая папка, её качают через npm install)
node_modules/
/jspm_packages/

# Сборка (результат работы npm run build)
dist/
build/
.snyk/

# Логи (файлы ошибок, которые плодит npm при сбоях)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Секреты и ключи окружения (ВАЖНО: чтобы не утекли пароли и ключи API)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Конфиги редакторов кода и операционных систем
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Тесты и отчеты покрытия
/coverage/
.nyc_output/
